<!DOCTYPE html>
<html lang="en">
<head>  
    {% block head %} 
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    {% endblock %}
    
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <h4><a href="/"><img src = "static/om3_1.jpg" width="50" height=30"></a></h4>
            <!-- <a class="navbar-brand" style="color:white;" href="/">Om Ply</a> -->
          </div>
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/">Home</a></li> -->
            <li class="dropdown",class="active"><a class="dropdown-toggle" data-toggle="dropdown" style="color:white ;" href="#">Products</a>
              <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a> -->
              <ul class="dropdown-menu">
                <li><a href="/ply">Plywood</a></li>
                <li><a href="#">Sunmica</a></li>
                <li><a href="#">Hardware</a></li>
              </ul>
            </li>
            <li class="active"><a href="/crt">Estimate</a></li>
            <li class="active"><a href="/about">About Us</a></li>
          </ul>
          <!-- <form class="navbar-form navbar-right" action="/action_page.php">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Google" name="search">
              <div class="input-group-btn">
                <button type="Submit" class="btn btn-default" >
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form> -->
        </div>
      </nav>
  {% block body %}

  {% endblock %}
  
</body>
</html>
